@font-face {
    font-family: "Allura";
    src: url(/asset/font/Allura-Regular.ttf);
    }
    @font-face {
        font-family: "Poppins";
        src: url(/asset/font/Poppins-Medium.ttf);
    }
    @font-face {
        font-family: "Roboto";
        src: url(/asset/font/Roboto-Light.ttf);
    }
    $font1: Allura, cursive;
    $font2: Poppins, serif;
    $font3: Roboto, serif;
    $white: #eee;
    $black: #21201e;
    $grey: rgb(182,182,182);
    $color1: rgb(166,114,69);